<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav class="main-nav">
    <div>
      <% if current_user.nil? %>
        <%= link_to 'Login', new_session_url %>
        <%= link_to 'Sign up', new_user_url %>
      <% else %>
        <%= current_user.username %>
        <form action="/session" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Logout">
        </form>
      <% end %>
    </div>
    </nav>
    <%= yield %>
  </body>
</html>